.navbar{
    display: flex;
    width: 84%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
}

nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

nav ul li a:hover{
    color: red;
}

body {
    background-color: #131414;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    margin-left: 40;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
  }