* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #131414;
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  position: sticky;
  top: 0;
  width: 100%;
  padding: 20px 10%;
  margin-left: 40;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  background-color: #000000;
}

.logo {
  width: 150px;
}

.navbar a {
  font-size: 20px;
  color: antiquewhite;
  text-decoration: none;
  margin: 10px 20px;
  margin-right: 30px;
  position: relative;
  font-weight: bold;
}

.navbar a::after {
  content: "";
  width: 0;
  height: 3px;
  background: #b31b1b;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}

.navbar a:hover::after {
  width: 100%;
}


.images {
  display: flex;
  justify-content: center;
}

#ABOUT {
  padding: 80px 0;
  color: #8d8989;
}
.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about-col-1 {
  flex-basis: 70%;
}
.about-col-1 img {
  width: 100%;
  border-radius: 15px;
}
.about-col-2 {
  flex-basis: 60%;
}

.hero_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  margin: auto;
}

.hero_left > h1{
  font-size: 50px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: rgb(220, 213, 213);
  margin-bottom: 10px;
  margin-top: 200px;
}

.hero_left h1 span{
    color: #9c2222;
    font-size: 50px;
}

.hero_left > p{
    font-size: 30px;
    color: aliceblue;
    line-height: 22px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.hero_left h2{
  font-size: 20px;
  color: white;
  margin-top: 100px;
}

.hero_right > img{ 
  max-width: 60%
}


#about{
  padding: 230px 0;
  color: #ababab;
  margin-left: 30vh;
  margin-top: 5rem;

}

.row{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about-col-1{
  flex-basis: 50%;
}
.about-col-1 >img{
  flex-basis: 20%;
  box-shadow: 0 0 20px rgba(0,0,0, .1);
  transition: 1s;
}
.about-col-1 >img:hover{
  transform: scale(1.1);
  z-index: 2;
}

.about-col-2{
  color: rgb(220, 213, 213);
  flex-basis: 40%;
}

.about-col-2 h1{
  font-size: 40px;
}

.tab-titles{
  display: flex;
  margin: 20px 0 40px;
}
.tab-links{
  margin-right: 50px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  position:relative
}
.tab-links::after{
  content: "";
  width: 0;
  height: 3px;
  background: #b31b1b;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}

.tab-links.active-link::after{
  width: 50%;
}

.tab-contents ul li{
  list-style: none;
  margin: 10px 0;
}
.tab-contents ul li span{
  color: #c54f4f;
  font-size: 16px;
  font-weight: bold;
}
.tab-contents{
  display: none;
}
.tab-contents.active-tab{
  display: block;
}

/* .projects-list{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
} */

.projects_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  margin: auto;
  margin-left: 300px;
  margin-right: 250px;
  margin-top: 100px;
}

.projects_left > h1{
  font-size: 50px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: beige;
  margin-top: -200px;
  margin-bottom: 20px;
}


.projects_left > p{
    font-size: 20px;
    color: rgb(155, 157, 159);
    line-height: 22px;
}

.projects_left h2{
  font-size: 30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #b31b1b;
  margin-top: px;
  margin-bottom: 20px;
}


.projects_right > img{
  width: 90%;
  height: 500px;
  border-radius: 15px;
  margin-bottom: 50px;
  margin-right: 100px;
  box-shadow: 0 0 20px rgba(0,0,0, .1);
  transition: 1s;
}
.projects_right >img:hover{
  transform: scale(1.1);
  z-index: 2;
}

.projects_left span{
  color: beige;
}


.hero_soc {
  position: absolute;
  bottom: 40px;
  width: 150px;
  display: flex;
  justify-content: space-between;
}


.hero_soc a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 40px;
  background: transparent;
  border: 2px solid rgb(255, 3, 3);
  border-radius: 50%;
  font-size: 20px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  z-index: 1;
  overflow: hidden;
  transition: .5s;
}

.hero_soc a:hover{
  color: #000000;
}

.soc a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: rgb(255, 255, 255);
  z-index: -1;
  transition: .5s;
}

.hero_soc a:hover::before {
  width: 100%;
}




